<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <script type="text/javascript" src="./__PUBLIC__/js/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="./__PUBLIC__/js/common.js"></script>
    <link rel="stylesheet" href="./__PUBLIC__/elementui-vue/index.css" />
    <link rel="stylesheet" href="./__PUBLIC__/elementui-vue/public.css" />
    <script src="./__PUBLIC__/elementui-vue/vue.global.js"></script>
    <script src="./__PUBLIC__/elementui-vue/icons-vue.js"></script>
    <script src="./__PUBLIC__/elementui-vue/element-plus.js"></script>
    <script src="./__PUBLIC__/elementui-vue/zh-cn.js"></script>
</head>
<body>
<form action="" method="post" enctype="multipart/form-data" id="uploadForm">
    <input style="display: none;" id="selectimginput" onchange="showPicImg(this.files);" name="file" type="file"/>
</form>
<form action="" method="post" enctype="multipart/form-data" id="uploadForm2">
    <input style="display: none;" id="selectimginput2" onchange="showPicImg2(this.files);" name="file" type="file"/>
</form>
<div id="app">
    <el-container>
        <el-header style="height: auto;">
            <div class="searchctn">
                <el-form :model="sobj" :inline="true" label-width="auto">
                    <el-form-item label="家政服务名称">
                        <el-input v-model="sobj.gname" ></el-input>
                    </el-form-item>
                    <el-form-item label="用户">
                        <el-input v-model="sobj.username" ></el-input>
                    </el-form-item>
                    <el-form-item label="日期">
                        <el-date-picker v-model="sobj.ndate"  type="date" placeholder="请选择..."
                                        @change="(date) => { sobj.ndate = date.getFullYear()+'-'+(date.getMonth() + 1).toString().padStart(2, '0')+'-'+date.getDate().toString().padStart(2, '0') }">
                        </el-date-picker>
                    </el-form-item>
                    <el-form-item>
                        <el-button type="primary" @click="refreshData">搜索</el-button>
                        <el-button type="success" @click="toReset">重置</el-button>
                    </el-form-item>
                </el-form>
            </div>
        </el-header>
        <el-main>
            <div class="datagridctn">
                <div class="tablectn">
                    <div class="tabletoolbarctn">
                        <el-button type="danger" @click="showEdit(null)">新增</el-button>
                    </div>

                    <el-table stripe v-loading="loading" :data="dataSource" current-row-key="id" :highlight-current-row="true" :show-overflow-tooltip="true" style="width: 100%">
                        <el-table-column prop="id" sortable label="编号" width="100px" align="center"></el-table-column>
                        <el-table-column prop="gnames" label="家政服务" align="center"></el-table-column>
                        <el-table-column prop="shop" label="服务人员" align="center"></el-table-column>
                        <el-table-column prop="tc" label="员工提成" align="center"></el-table-column>
                        <el-table-column prop="user" label="用户" align="center"></el-table-column>
                        <el-table-column prop="total" label="总价" align="center"></el-table-column>
                        <el-table-column prop="tc" label="提成" align="center"></el-table-column>
                        <el-table-column prop="address" label="联系人" width="300" align="center"></el-table-column>
                        <el-table-column prop="note" label="备注" align="center"></el-table-column>
                        <el-table-column prop="statecn" label="状态" align="center"></el-table-column>
                        <el-table-column prop="ydate" label="预约时间" align="center"></el-table-column>
                        <el-table-column prop="ndate" label="时间" align="center"></el-table-column>
                        <el-table-column fixed="right" label="操作" width="290" align="center">
                            <template #default="scope">
                                <el-button link type="primary" size="small" @click="showEdit(scope.row)">编辑</el-button>
                                <el-button link type="success" size="small" @click="changeS(scope.row,'已完成')">已完成</el-button>
                                <el-button link type="danger" size="small" @click="del(scope.row.id)">删除</el-button>
                            </template>
                        </el-table-column>
                    </el-table>
                </div>

                <div class="paginationctn">
                    <el-pagination v-model:current-page="page.current" v-model:page-size="page.limit" :page-sizes="[100, 200, 300, 400]" layout="total, sizes, prev, pager, next, jumper" :total="page.total" @size-change="refreshData" @current-change="refreshData"></el-pagination>
                </div>
            </div>
            <div class="formdialog" v-show="showe">
                <div class="formdialogtitle">查看编辑<span class="formdialogtitlegb" @click="showe=false"></span></div>
                <el-form ref="fobjform1" :model="fobj" label-width="auto">

                    <el-form-item label="服务人员" prop="sid">
                        <el-select v-model="fobj.sid" class="m-2" placeholder="请选择" size="large" style="width: 240px">
                            <el-option v-for="item in typelist" :label="item.label" :value="item.value" ></el-option>
                        </el-select>
                    </el-form-item>
                    <el-form-item label="提成" prop="tc">
                        <el-input type="text" v-model="fobj.tc"></el-input>
                    </el-form-item>
<!--                    <el-form-item label="备注" prop="note">
                        <el-input type="textarea" v-model="fobj.note"></el-input>
                    </el-form-item>-->
                    <el-form-item style="text-align: center;margin-top: 50px;">
                        <el-button type="success" @click="submit1">提交</el-button>
                        <el-button type="danger" @click="cancel">取消</el-button>
                    </el-form-item>
                </el-form>
            </div>

        </el-main>
        <el-footer></el-footer>
    </el-container>
</div>

</body>
<script>
    const App = {
        data() {
            return {
                formRules:[{required: true, message: '请检查输入...', trigger: 'blur'}],
                fileurl:fileurl,
                uploadUrl:uploadUrl,
                luser:{},
                tbname:'bill',
                showe:false,
                sobj:{},
                fobj:{},
                page:{ current: 1, limit: 10, total: 100 },
                selectedKeys:[],
                loading:false,
                typelist:[],
                dataSource:[]
            };
        },
        mounted() {
            this.luser = userinfo
            this.refreshData()
            ajaxCallback1("list",{table:'user', roletype:3},(data) => {
                for (let s of data) {
                    s.label=s.username
                    s.value = s.id+""
                }
                this.typelist = data
            })
        },
        methods: {
            changeS(d,statecn){
                ajaxCallback1("save",{table: this.tbname, statecn: statecn, id: d.id},(data) => {
                    this.refreshData()
                });
            },
            toReset(){
                this.sobj = {}
                this.refreshData()
            },
            refreshData(){
                let s = this.sobj
                s.type = 1
                s.table = this.tbname
                s.page = this.page.current
                s.limit = this.page.limit
                this.loading = true
                if(this.luser.roletype == '3'){
                    s.sid = this.luser.sid
                }
                ajaxCallback1('listPage',s,(r)=>{
                    this.loading = false
                    this.dataSource = r.rows
                    this.page.total = r.total
                })
            },
            showEdit(row){
                this.showe = true
                if(row){
                    this.fobj = row
                    /*editor.txt.html(row.note);
                    showAttach("imgctn",row.img)*/
                }else{
                    this.fobj = {}
                    /*editor.txt.html('');
                    showAttach("imgctn",null)*/
                }

            },
            submit1(){
                this.$refs.fobjform1.validate((isValidate, model, errors) => {
                    if(isValidate){
                        this.save()
                    }
                })
            },
            save(){
                this.fobj.type = 1
                this.fobj.table = this.tbname
                if(this.fobj.sid){
                    this.fobj.shop = (this.typelist.find((item) => item.value == this.fobj.sid)).label
                }

                this.fobj.statecn = '已接单'
                //this.fobj.note = editor.txt.html();
                /*ajaxFormUploadFile((rimg)=>{
                    this.fobj.img = rimg*/
                    ajaxCallback("save",this.fobj,(rid) => {
                        console.log(rid)
                        this.showe = false
                        this.refreshData()
                    });
                //})

            },
            cancel(){
                this.showe = false
            },
            del(id){
                ElementPlus.ElMessageBox.alert('确认删除吗?', '提示!', {
                    confirmButtonText: '确认',
                    callback: (action) => {
                        ajaxCallback1("delete",{table: this.tbname, id: id},(r) => {
                            this.refreshData()
                        });
                    }
                })
            },
            sortChange(key, sort) {
                this.sobj.sort = key
                this.sobj.order = sort
                this.refreshData()
            }
        },
    };
    const app = Vue.createApp(App);
    for (const [key, component] of Object.entries(ElementPlusIconsVue)) {
        app.component(key, component)
    }
    app.use(ElementPlus,{
        locale: ElementPlusLocaleZhCn,
    });
    app.mount("#app");
</script>

<script type="text/javascript" src="__PUBLIC__/weditor/wangEditor.js"></script>

<script type="text/javascript">
    // var E = window.wangEditor;
    // var editor = new E('#editor');
    // editor.config.uploadImgShowBase64 = false;
    // editor.config.uploadImgServer = _editorUpload;
    // editor.config.uploadVideoServer = _editorUploadVideo;
    // editor.config.uploadFileName = 'file';
    // editor.config.uploadVideoName = 'file';
    // editor.config.zIndex = 0;
    // editor.create()
</script>
</html>